@import 'normalize';

$ityellow: #fcf628;
$primary-color: #292c2f;
$secondary-color: #e7e7e7;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;

@import 'foundation';

@import url(https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);

$fontGoogle: 'Lato', sans-serif;

$font-path: "foundation-icons";

@font-face {
    font-family: "foundation-icons";
    src: url("#{$font-path}.eot");
    src: url("#{$font-path}.eot?#iefix") format("embedded-opentype"),
        /*        url("#{$font-path}.woff") format("woff"),
                url("#{$font-path}.ttf") format("truetype"),*/
        url("#{$font-path}.svg#fontcustom") format("svg");
    font-weight: normal;
    font-style: normal;
}

@import "./styles/foundation-icons/foundation-icons.css";

// Forpgun colors
//$logoDark - #4c5b42 76 91 66
//$logoLight - #8b9456 139 148 86
$logoDark: #4c5b42;
$logoLight: #8b9456;
$logoText: #1b1c20;
//text - 1b1c20
h1, h2, h3, h4, h5, h6, p {
    color: $logoDark; 
    font-family: $fontGoogle;
}

p {
    color: $logoText; 
    font-family: $fontGoogle;
}
html {
    width: 100%;
    height: 100%;
    body {
        color: $logoText; 
        width: 100%;
        height: 100%; 
        font-family: $fontGoogle;
    }
}

body.loaded {
    background-image:url('styles/forpgun_images/forest.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.body-mask {
    width: 100%;
    height: 100%;
    background: white url('styles/images/ico_loading.gif') no-repeat center center;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
}
.loading {

}

.loaded {
    opacity: 1;
    -webkit-transition: opacity 300ms ease-out;
    -moz-transition: opacity 300ms ease-out;
    transition: opacity 300ms ease-out;
}

#preload {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
//http://cssdeck.com/labs/16-box-shadows-to-save-your-time
.th {
    border: solid 1px $logoText;
    border-radius: 3px;
    //background-color: rgba(230, 230, 230, 0.5);
    /*    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);*/
    display: inline-block;
    line-height: 0;
    max-width: 100%;
    //transition: all 200ms ease-out;

    /*    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
        -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
        box-shadow:0 0 10px rgba(0, 0, 0, 0.5);*/

    /*    -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;*/

    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    img {
        max-width: 100%;
        height: auto;
    }
}

.spacer {
    //min-height: 4%;
    @media only screen and (min-width: 40.063em) { 
        min-height: 30%;
    }


    div {
        /*        display: inline-block;*/
        min-width: 100%;

        /*
        $logoDark: #4c5b42;
$logoLight: #8b9456;
$logoText: #1b1c20;
        */
        //#1c1b19 rgb(28, 27, 25)
/*        background-color: rgba(76, 91, 66, 0.9);
        background-color: #1c1b19;
        background-color: rgba(28, 27, 25, 0.8);*/


        background: -moz-linear-gradient(left, rgba(139,148,86,0.5) 0%, rgba(76,91,66,0.53) 25%, rgba(76,91,66,0.6) 97%, rgba(76,91,66,0.6) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(139,148,86,0.5)), color-stop(25%,rgba(76,91,66,0.53)), color-stop(97%,rgba(76,91,66,0.6)), color-stop(100%,rgba(76,91,66,0.6))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left, rgba(139,148,86,0.5) 0%,rgba(76,91,66,0.53) 25%,rgba(76,91,66,0.6) 97%,rgba(76,91,66,0.6) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left, rgba(139,148,86,0.5) 0%,rgba(76,91,66,0.53) 25%,rgba(76,91,66,0.6) 97%,rgba(76,91,66,0.6) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left, rgba(139,148,86,0.5) 0%,rgba(76,91,66,0.53) 25%,rgba(76,91,66,0.6) 97%,rgba(76,91,66,0.6) 100%); /* IE10+ */
        background: linear-gradient(to right, rgba(139,148,86,0.5) 0%,rgba(76,91,66,0.53) 25%,rgba(76,91,66,0.6) 97%,rgba(76,91,66,0.6) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#808b9456', endColorstr='#994c5b42',GradientType=1 ); /* IE6-9 */

        .row {
            .columns {
                ul {

                    li {
                        display: inline-block;
/*                        margin-right: 8px;*/
                        padding: 15px 15px 15px 0px;
                        background: $logoDark;
                        margin-top: 1rem;
                        text-align: center;
                        border: solid 1px $logoLight;
                        border-radius: 3px;
                        /* box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2); */
                        display: inline-block;
                        line-height: 0;
                        max-width: 100%;


                        @media only screen and (min-width: 40.063em) { 
        margin-right: 8px;
    }
    
                        a {
                            text-align: center;
                            font-family: $fontGoogle;
                            color: $logoText;
                            color: white;
                            padding-left: 1rem;
/*                            font-weight: bold;*/
                            /*                        img {
                                                        width: 30px;
                                                        height: auto;
                                                    }*/
                        }
                    }
                }
            }
        }


    }

}
div.info-content {
    /*
    width: 100%;
    background-color: rgba(255,255,255,.5);
    padding: 1em 0;
    */
}

.more-white {
    background-color: rgba(255,255,255,.9);
    padding: 1em 0;
}

/* http://foundation.zurb.com/forum/posts/526-how-to-center-grid-row-vertically */
.valign-center {
    position: relative;
    top: 50%;
    > .columns {
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -o-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
    }
}

.icon_inc {
    color: black;


    color: $logoText;
    background: $logoLight;
    //background: rgba(76, 91, 66, 0.8);
    position: absolute;
    font-size: 1.5rem;
    border-radius: 50%;
    line-height: 1;
    vertical-align: middle;
    padding: .25em .45em;
}

.icon_text {
    margin: 0 0 0 3rem;
    font-family: $fontGoogle;
    color: $logoText;

    padding-top: 0.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.icon-wrapper {
    display: table;
    margin: 0 auto;
}
.logo-wrapper {
    display: table;
    margin: 0 auto;
}
.text-wrapper {
    padding: 1em 0;
}
.reveal-modal  { 
    .close-reveal-modal{
        color: $logoLight;
    }
}

.reveal-modal {
    top: 2em;
}

.copyright {
    color: $logoDark;
    font-size: 1em;
}