<?php
/**
 * Licence of Learning Info System (LIS)
 * 
 * @link      https://github.com/parnustk/lisbackend
 * @copyright Copyright (c) 2015-2016 Sander Mets, Eleri Apsolon, Arnold Tšerepov, Marten Kähr, Kristen Sepp, Alar Aasa, Juhan Kõks
 * @license   https://github.com/parnustk/lisbackend/blob/master/LICENSE
 */

return array(
    'modules' => array(
        'DoctrineModule',
        'DoctrineORMModule',
        'Core',
        'LisAuth',
    ),
    'module_listener_options' => array(
        
        'config_glob_paths'    => array(
            '../../../config/autoload/{,*.}{global,local}.php',
        ),
        
        'module_paths' => array(
            'module',
            'vendor',
        ),
        
    )
);